artifacts/syslog/*
artifacts/json/*
artifacts/csv/*
artifacts/supertimelines/*
artifacts/timelines/*
artifacts/evtx/*
artifacts/cloudtrail/*
artifacts/pcap/*
artifacts/zeek/*
artifacts/suricata/*
artifacts/memprocfs/*
sigma/rules/*
